@model ReservaEspectaculo.Models.Pelicula

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-danger" id="btn1" onClick="return confirmacionBorrar()">Borrar</button>
        <a asp-action="Index">Atras</a>
    </form>
</div>

<script>
    function confirmacionBorrar(event) {
        var reply = confirm("Seguro que queres borrar a esta pelicula?");
        if (reply) {
            return true;
        }
        else {
            return false;
            event.preventDefault();
        }
    }
</script>